<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin DashBoard</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NS PhotoGraphy</a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.html">Home</a>
        </li>
       
      </ul>
      <form class="d-flex">
        <h5><span th:text="${uname}"></span></h5>
        <a class="btn btn-danger mx-4" th:href="@{/userlogout}">LogOut</a>
      </form>
    </div>
  </div>
</nav>

<table class="table table-success table-striped">
  <tr>
  <th>Id</th>
  <th>FullName</th>
  <th>Occupation</th>
  <th>Wedding Date</th>
  <th>Mobile No</th>
  <th>Address</th>
  <th>Email Id</th>
  <th>Password</th>
  <th>Action</th>
  </tr>
  <tr th:each="user1:${users}">
  <td><span th:text="${user1.id}"></span></td>
  <td><span th:text="${user1.name}"></span></td>
  <td><span th:text="${user1.passion}"></span></td>
  <td><span th:text="${user1.weddingDate}"></span></td>
  <td><span th:text="${user1.mobNo}"></span></td>
  <td><span th:text="${user1.address}"></span></td>
  <td><span th:text="${user1.email}"></span></td>
  <td><span th:text="${user1.password}"></span></td>

  <th><a class="btn btn-danger" th:object=${user1} th:href="@{/userdelete}">Delete</a></th>
  
  </tr>
</table>

</body>
</html>